{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-7">
    <div class="story-page">
    <img class="img-fluid" src='/static/perkament.jpg'>
      <span class="story-title">{{title}}</span>
      <div class="content">
        {{story}}
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <img class="img-fluid story-companion" src="static/{{image}}">
    <form method="POST" class="text-center">
        What is your answer ?
        <div class="row" style="margin-top:20px;">
          <div class="col-sm-8">
            <label for="answer" class="sr-only">What Is Your Answer?</label>
            <input type="text" placeholder="Your answer" class="form-control" id="answer" name="answer" maxlength="30">
          </div>
          <div class="col-sm-4">
            <input type="submit" name="submit" value="submit" style="width: 100%">
          </div>
        </div>
        <br/>
        You are allowed to ask questions in our #hackathon channel on Discord : <a href="{{link}}" target="_blank">here</a>
    </form>
    <br/>
    Get your friends in on it !
    <br/>
    <!-- Social Share buttons -->
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style center" data-a2a-url="https://cwhq.pythonanywhere.com">
        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_email"></a>
        <a class="a2a_button_whatsapp"></a>
        <a class="a2a_button_linkedin"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- Social Share buttons END -->
  </div>
</div>

{% endblock %}