{% extends "layout_admin.html" %}
{% block content %}
    <div id="container" class="text-center">
        <br/>
        <h1> END GAME ANSWERS </h1>
        <br/>
        <form action="" method="POST">
            {% if rows !="EMPTY" %}
                {% for row in rows %}
                    <hr/>
                    <br/>
                    <h1>{{ row[0] }} - {{ row[1] }}</h1>
                    <h2>{{ row[2] }}</h2>
                    <h2>{{ row[3] }}</h2>
                    <br/>
                    <textarea rows="16" cols="50">{{ row[4] }}</textarea>
                    <br/>
                    <td><input type="submit" name="action" value="Delete record {{ row[0] }}"/></td>
                    <br/><br/>
                {% endfor %}
            {% endif %}
        </form>  
    </div>
{% endblock %}