[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
flake8 = "*"
pytest = "*"
python-dotenv = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
flask-cors = "*"
flask-jwt-extended = "*"
argon2-cffi = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
flask-limiter = "*"
flask-mail = "*"
tabulate = "*"
sentry-sdk = {extras = ["flask"],version = "==0.14.1"}

[requires]
python_version = "3.6"
