[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
gunicorn = "*"
flask-restplus = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
alembic = "*"
mysqlclient = "*"
flask-migrate = "*"
flask-script = "*"
flask-session = "*"
null = "*"
webargs = "*"
werkzeug = "*"

[requires]
python_version = "3.7"

[dev-packages]
ipdb = "*"
