@charset "UTF-8";

@font-face {
  font-family: "rockyton";
  src:url("../../fonts/rockyton.eot");
  src:url("../../fonts/rockyton.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/rockyton.woff") format("woff"),
    url("../../fonts/rockyton.ttf") format("truetype"),
    url("../../fonts/rockyton.svg#rockyton") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "rockyton" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "rockyton" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "a";
}
.icon-twitter:before {
  content: "b";
}
.icon-pinterest:before {
  content: "c";
}
.icon-gplus:before {
  content: "d";
}
.icon-evernote:before {
  content: "e";
}
.icon-skype:before {
  content: "f";
}
.icon-tumblr:before {
  content: "g";
}
.icon-vimeo:before {
  content: "h";
}
.icon-linkedin:before {
  content: "i";
}
.icon-dribbble:before {
  content: "k";
}
.icon-behance:before {
  content: "j";
}
.icon-youtube:before {
  content: "l";
}
.icon-rockyton:before {
  content: "m";
}
