&.theme--dark.v-application {
  background: url("/images/space-background.jpg");
  background-size: cover;
  overflow: hidden;
  // background-color: #21252d;

  &.voting {
    background-color: #f8f8f9;
    font-family: "Barlow", sans-serif;
    .v-btn {
      font-weight: bold;
      font-size: 14px;
      font-family: "Barlow", sans-serif;
    }
  }

  .speech-body pre {
    background-color: black;
    padding: 2px 5px;
    margin-top: 2px;
    margin-bottom: -20px;
  }
}
