.v-card.ballot-modal {
  padding: 0;
  height: 600px;

  pre,
  code {
    width: 100% !important;
    height: 100%;
    background-color: $cwhqBlue;
    color: $cwhqYellow;
    display: block;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  code {
    padding: 20px;
  }

  .main-row {
    height: 600px;

    > * {
      height: 600px;
    }
  }

  .left {
    padding: 20px;
    text-align: center;

    * {
      box-shadow: none !important;
      text-align: center !important;
    }

    .v-label {
      width: 100%;
      max-width: 100%;
      text-align: center !important;
      font-weight: bold !important;
      font-family: "Barlow", sans-serif;
    }
  }
  .v-text-field--outlined fieldset {
    border-color: $cwhqYellow !important;
    border: solid 2px $cwhqBlue;
  }

  .v-input {
    border-radius: 0;
    font-weight: bold;
    color: #8c919c;
    text-align: center !important;
    height: 67px;
  }

  .v-text-field__slot {
    box-shadow: none !important;
    background: none;
    text-align: center;
  }

  .v-btn {
    height: 50px;
    font-size: 16px !important;
  }

  hr {
    margin-bottom: 20px;
    color: #ddd;
    height: 1px;
    opacity: 0.4;
  }

  .icons {
    width: 100%;
    height: 40px;
    margin-top: 12px;

    .v-btn {
      margin: 0 !important;
      padding: 0 !important;
      font-size: 20px !important;
    }
  }
}
