$primary: #fdc743;
$secondary: #27ae82;
// accent: '#82B1FF',
// error: '#FF5252',
// info: '#2196F3',
// success: '#4CAF50',
// warning: '#FFC107',
$dark: #282828;
$dark2: #1e1e1e;
$button: #4caf50;
$input: #4caf50;
$cwhqBlue: #0d1d41;
$cwhqYellow: #fdc743;