.cwhq-bar .v-toolbar__content {
  background-color: #fdc743;
  // display: none !important;
  text-align: right;
  padding: 3px;
  line-height: 17.4px;

  a {
    color: #fff;
    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;
    font-family: "Barlow", sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: rgb(1, 30, 65);

    &:hover {
      text-decoration: underline;
    }

    &:not(:last-child):after {
      content: "|";
      position: relative;
      left: 4px;
    }
  }
}
