@font-face {
  font-family: "Barrow2";
  src: url("/fonts/Barrow2Regular.ttf");
}

@font-face {
  font-family: "Barrow2Bold";
  src: url("/fonts/Barrow2Bold.ttf");
}

@font-face {
  font-family: "Barrow2Light";
  src: url("/fonts/Barrow2Light.ttf");
}

@font-face {
  font-family: "buWicked";
  src: url("/fonts/buWicked.eot");
  src: url("/fonts/buWicked.eot?#iefix") format("embedded-opentype"), url("/fonts/buWicked.svg#buWicked") format("svg"),
  url("/fonts/buWicked.ttf") format("truetype"), url("/fonts/buWicked.woff") format("woff"),
  url("/fonts/buWicked.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.barrow-bold {
  font-family: "Barrow2Bold" !important;
}

.barrow-light {
  font-family: "Barrow2Light" !important;
}

.barrow {
  font-family: "Barrow2" !important;
}

.bu-wicked {
  font-family: "buWicked" !important;
}

.archivo {
  font-family: "Archivo", sans-serif !important;
}


