@font-face {
  font-family: "Barrow2";
  src: url("~@/static/fonts/Barrow2Regular.ttf");
}

@font-face {
  font-family: "Barrow2Bold";
  src: url("~@/static/fonts/Barrow2Bold.ttf");
}


@font-face {
  font-family: "bu Wicked";
  src: url("~@/static/fonts/bu Wicked.ttf");
}
