.mobile-warning {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #21252d;
  color: white;
  z-index: 10000;
  text-align: center;
  display: block;
}

@media (min-width: 600px) {
  .mobile-warning {
    display: none !important;
  }
}
