.quiz-scroll {
  width: 669px;
  position: relative;
  // background: white;
  // clip-path: inset(42px -250px -1000px 0px);
  overflow: hidden;
  padding-bottom: 400px;
  top: -30px;
  color: #031e41;
  font-size: 24px;
  letter-spacing: 2px;

  .scroll-head {
    top: -43px;
    left: -166px;
    width: 1000px;
    height: 270px;
    position: relative;
    background-image: url("/images/scroll-top.png");
    background-size: contain;
    z-index: 2;

    .scroll-title {
      text-align: center;
      font-size: 50px;
      top: 42px;
      position: relative;
      color: #031e41 !important;
      font-family: "buWicked";

      &:after {
        content: "";
        top: 64px;
        position: absolute;
        background-image: url("/images/underline.png");
        background-position-x: center;
        width: 100%;
        height: 30px;
        left: 0;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  // $offset: 200px;

  .scroll-graphic {
    width: 1000px;
    height: 2238px;
    position: absolute;
    bottom: 0;
    left: -166px;
    background-image: url("/images/scroll-bottom.png");
    z-index: 0;
  }

  .scroll-body {
    z-index: 1;
    position: relative;
    margin-top: -130px;
    text-align: center;

    .asset {
      width: 400px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      position: relative;
      margin-bottom: 35px;
    }

    .scroll-content {
      width: 420px;
      margin-left: auto;
      margin-right: auto;
      font-size: 24px;
      color: #031e41 !important;
      font-family: "Barrow2Light";
      letter-spacing: 2px;
      text-align: left;
      white-space: pre-wrap;

      pre {
        font-size: 18px;
        white-space: pre-wrap;
      }
    }
  }
}
