.quiz-need-help {
  background-image: url("/images/social-media-sidebar.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 10px;
  width: 524px;
  height: 281px;
  position: fixed;
  right: -250px;
  bottom: 0;
  z-index: 100;

  /*
  transition: all 1000ms;

  &:hover {
    cursor: pointer;
    width: 339px;
    height: 286px;
    filter: saturate(200%) sepia(100%);
  }
   */
}
