.quiz-need-help {
  background-image: url("/images/social-media-sidebar.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 524px;
  height: 281px;
  position: fixed;
  right: -250px;
  bottom: 50px;
  z-index: 100;

  @media screen and (max-width: 1200px) {
    // not a perfect fix, but keeps this component from covering answer box button on small screens
    bottom: 250px;
  }

  /*
  transition: all 1000ms;

  &:hover {
    cursor: pointer;
    width: 339px;
    height: 286px;
    filter: saturate(200%) sepia(100%);
  }
   */
}
