// .quiz-scroll {
//   .v-card {
//     background: url("/images/scroll.png");
//     background-size: 100%;
//     width: 669px;
//     height: 1042px;
//   }

//   .scroll-content {
//     position: relative;
//     margin-top: 120px;
//     width: 460px;
//     margin-left: auto;
//     margin-right: auto;
//     font-size: 30px;
//     color: #30231a !important;
//     font-family: "Barrow2Light";
//     letter-spacing: 2px;
//   }

//   .scroll-title {
//     text-align: center;
//     font-size: 40px;
//     position: relative;
//     top: 15px;
//     color: #30231a !important;
//     font-family: "buWicked";
//     // letter-spacing: 2px;

//     &:after {
//       content: "";
//       top: 55px;
//       position: absolute;
//       background-image: url("/images/underline.png");
//       background-position-x: center;
//       width: 100%;
//       height: 27px;
//       left: 0;
//       background-size: contain;
//       background-repeat: no-repeat;
//     }
//   }
// }

$left: -166px;
.quiz-scroll {
  width: 669px;
  position: relative;
  // left: -250px;
  // border: solid thin #ddd;
  // clip-path: inset(42px -250px -1000px 0px);
  //T  R  B L
  // clip-path: inset(42px -250px -1000px 0px);

  .scroll-head {
    left: $left;
    width: 1000px;
    height: 270px;
    position: relative;
    background-image: url("/images/scroll-top.png");
    z-index: 2;

    .scroll-title {
      text-align: center;
      font-size: 50px;
      position: relative;
      top: 45px;
      color: #30231a !important;
      font-family: "buWicked";

      &:after {
        content: "";
        top: 64px;
        position: absolute;
        background-image: url("/images/underline.png");
        background-position-x: center;
        width: 100%;
        height: 30px;
        left: 0;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  .scroll-body {
    z-index: 1;
    left: $left;
    width: 1000px;
    height: 2238px;
    position: relative;
    top: -200px;
    background-image: url("/images/scroll-bottom.png");
    border: solid thin #00000000;
    text-align: center;
    padding-top: 120px;

    .asset {
      width: 400px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      position: relative;
      margin-bottom: 35px;
    }

    .scroll-content {
      width: 420px;
      margin-left: auto;
      margin-right: auto;
      font-size: 24px;
      color: #30231a !important;
      font-family: "Barrow2Light";
      letter-spacing: 2px;
    }
  }
}
