@import "./colors.scss";

$width: 100px;
$shieldHeight: 150px;

$border: none; //solid thin red;


.rank-text {
  position: relative;
  top: -31px;
  font-size: .7em;
}

.quiz-bar-rank {
  position: absolute;
  width: $width;
  top: -10px;
  left: 50%;
  margin-left: -$width/2;
  border: $border;

  .rank {
    border: $border;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    top: 15px;
    line-height: $shieldHeight;
    font-size: $shieldHeight / 4;
    font-family: "Barrow2Bold", serif !important;
    color: white !important;

    &:before {
      background-image: url("/images/top-nav-progress-level-badge.svg");
      background-size: contain;
      background-position-x: center;
      position: absolute;
      background-repeat: no-repeat;
      width: $width;
      height: $shieldHeight;
      border: $border;
      top: 0;
      left: 0;
      content: "";
      z-index: -1;
    }
  }

  /*
  .level-display {
    border: $border;
    position: absolute;
    top: -10px;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: "Barrow2Bold" !important;
  }


  &:before {
    background-image: url("/images/shield-background.png");
    background-position-x: center;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: $width;
    height: $width;
    top: 12px;

    left: 0;
    right: 0;
    margin: auto;
    content: "";
    z-index: -1;
  }
   */
}
