.quiz-bar {
  a {
    font-weight: normal;
    color: #F7E4C4 !important;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: 2px;

    &:hover {
      text-decoration: underline;
    }
  }

  /*
  span{
    top: 2px;
    position: relative;
  }

   */
}
