@import "./colors.scss";

$width: 100px;
$shieldHeight: 50px;

$border: none; //solid thin red;

.quiz-bar-rank {
  position: absolute;
  width: $width;
  top: 12px;
  left: 50%;
  margin-left: -$width/2;
  border: $border;

  .rank {
    border: $border;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    top:15px;
    line-height: $shieldHeight;
    font-size: $shieldHeight / 2;
    font-family: "Barrow2Bold" !important;

    &:before {
      background-image: url("/images/shield.png");
      background-size: contain;
      background-position-x: center;
      position: absolute;
      background-repeat: no-repeat;
      width: $width;
      height: $shieldHeight;
      border: $border;
      top: 0px;
      left: 0px;
      content: "";
    }
  }

  .level-display {
    border: $border;
    position: absolute;
    top: -10px;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: "Barrow2Bold" !important;
  }

  &:before {
    background-image: url("/images/shield-background.png");
    background-position-x: center;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: $width;
    height: $width;
    top: 12px;

    left: 0;
    right: 0;
    margin: auto;
    content: "";
    z-index: -1;
  }
}
