.quiz-need-help {
  background-image: url("/images/discord-book-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 10px;
  width: 300px;
  height: 300px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 100;

  transition: all 1000ms;

  &:hover {
    cursor: pointer;
    width: 320px;
    height: 320px;
    filter: saturate(200%) sepia(100%);
  }
}
