.cwhq-app {
  @import './colors.scss';
  @import './application.scss';
  @import './quiz-scroll.scss';
  @import './quiz-answer.scss';
  @import './quiz-need-help.scss';
  @import './quiz-bar-rank.scss';
  @import './content.scss';
  @import './social-pop-over.scss';
  @import './casing.scss';
  @import './cwhq-bar.scss';
  @import './quiz-bar.scss';
  @import './leaderboard-bar.scss';
  @import './ballot-card.scss';
  @import './ballot-modal.scss';
  @import './buttons.scss';
  @import './mobile-warning.scss';

  .v-alert {
    font-size: 20px;
  }

  .v-input {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .v-messages {
    font-size: 16px;
  }

  .v-snack {
    .v-snack__content {
      font-size: 20px;
      padding: 20px;
    }
  }
}

.v-form {
  .v-select__slot {
    padding-top: 10px;
  }

  label {
    font-size: 22px !important;
    top: -2px;
  }
}
