// https://vuetifyjs.com/en/customization/sass-variables
// @import "./colors.scss";
$body-font-family: "Barrow2Light";
$heading-font-family: "buWicked";

// $border-radius-root: 6px;
$font-size-root: 20px;
