{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-7">
    <div class="story-page">
    <img class="img-fluid" src='/static/perkament.jpg'>
      <span class="story-title">{{title}}</span>
      <p>
        {{story}}
      </p>
    </div>
  </div>
  <div class="col-lg-5">
    <img class="img-fluid story-companion" src="static/{{image}}">
    <form method="POST" class="text-center">
        What is your answer ?
        <div class="row" style="margin-top:20px;">
          <div class="col-sm-8">
            <label for="answer" class="sr-only">What Is Your Answer?</label>
            <input type="text" placeholder="Your answer" class="form-control" id="answer" name="answer" maxlength="30">
          </div>
          <div class="col-sm-4">
            <input type="submit" name="submit" value="submit" style="width: 100%">
          </div>
        </div>
        <br/>
        You are allowed to ask questions in our #hackathon channel on Discord : <a href="{{link}}}}" target="_blank">here</a>
      </form>
  </div>
</div>

{% endblock %}