{% extends "layout_admin.html" %}
{% block content %}
    <div id="container" class="spaceme text-center">
        <br/>
        <h1> Level Creator</h1>
        <br/>
        <form action="" method="POST">
            {% autoescape on %}   
            Level number (1 - 21):
            <input class="padme2" type="number" name="number" value="{{number}}" maxlength="2" width="2" min="0" max="1000"><br/>
            Level name:
            <input class="padme2" type="text" name="name" value="{{name}}" maxlength="20" width="20"><br/>
            Badge color (#000000):
            <input class="padme2" type="text" name="color" value="{{color}}" maxlength="7" width="7"><br/>   
            Image:
            <input class="padme2" type="file" name="image" files="{{image}}" value="{{image}}" accept="image/*"><br/>
            <textarea class="padme2" name="text" rows="10" cols="50">{{text}}</textarea><br/>
            Correct Answer:
            <input class="padme2" type="text" name="answer" value="{{answer}}" maxlength="30" width="30"><br/>
            Release date (yyyymmdd):
            <input class="padme2" type="number" name="date" value="{{date}}" maxlength="8" width="8" min="20190101" max="20201231"><br/>

            <input class="padme2" type="submit" name="submit"/><br/>
            {% endautoescape %}    
            </form>
    </div>
{% endblock %}